@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  word-break: keep-all;
  scroll-behavior: smooth;
}

body.isOpen {
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: disc;
  margin-left: 16px;
}

li {
  & {
    margin-bottom: 7px;
  }
}

strong {
  color: #193052;
}

tr:hover {
  background-color: #efefef;
}
